<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boostcamp.hyeon.wallpaper">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <!-- <uses-permission android:name="android.hardware.camera.autofocus" /> -->
    <!-- <uses-feature android:name="android.hardware.camera" /> -->
    <application
        android:name=".base.app.WallpaperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detail.view.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".preview.view.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".license.list.LicenseListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".license.detail.LicenseDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".base.util.TransparentActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity="com.boostcamp.hyeon.wallpaper.popup"
            android:theme="@style/Theme.Transparent" />

        <receiver
            android:name=".base.receiver.WallpaperMangerReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="ACTION.SET_WALLPAPER.WallpaperMangerReceiver" />
            </intent-filter>
        </receiver>
        <receiver android:name=".base.receiver.RestartServiceReceiver">
            <intent-filter>
                <action android:name="ACTION.RESTART.WallpaperManagerService" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".base.receiver.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="BootCompletedReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".base.service.WallpaperManagerService"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name=".base.service.ForeGroundService"
            android:exported="false"
            android:process=":locker" />
    </application>

</manifest>